@import "./themes/_dark.scss";
@import "./spec/_mixins";
@import "./themes/_light.scss";
@import "./spec/_reset";
@import "./variables/_global.scss";
@import "./spec/_fonts";
@import "./spec/container";

.app {
    font-family: var(--font-family-main);
    font-weight: 400;
    background-color: var(--black-shades-08);
    color: var(--primary-color);
    min-height: 100vh;
    transition: background-color 0.33s;
}

.content-page {
   
}

.content-inner {
    height: fit-content;
    flex-grow: 1;
}

.page-wrapper {
    flex-grow: 1;
}