@import "./themes/dark";
@import "./spec/mixins";
@import "./themes/light";
@import "./spec/reset";
@import "./variables/global";
@import "./spec/fonts";
@import "./spec/container";
@import "./spec/loader";

.app {
    font-family: var(--font-family-main);
    font-weight: 400;
    background-color: var(--black-shades-08);
    color: var(--primary-color);
    min-height: 100vh;
    transition: background-color 0.33s;
}

.content-inner {
    height: fit-content;
    flex-grow: 1;
}

.page-wrapper {
    flex-grow: 1;
}

.layout-light {
    background-color: #f5f5f5;
}

.layout-dark {
    background-color: #141414;
}

.storybook-font {
    font-family: var(--font-family-main);

    div {
        font-family: var(--font-family-main);
    }
}

.test {
    color: red;
}
