:root {
    --font-heading-bold-64: 700 64px/72px sans-serif;
    --font-heading-bold-56: 700 56px/64px sans-serif;
    --font-heading-bold-48: 700 48px/56px sans-serif;
    --font-heading-bold-40: 700 40px/48px sans-serif;
    --font-heading-bold-32: 700 32px/40px sans-serif;
    --font-heading-bold-24: 700 24px/32px sans-serif;
    --font-heading-semibold-64: 600 64px/72px sans-serif;
    --font-heading-semibold-56: 600 56px/64px sans-serif;
    --font-heading-semibold-48: 600 48px/56px sans-serif;
    --font-heading-semibold-40: 600 40px/48px sans-serif;
    --font-heading-semibold-32: 600 32px/40px sans-serif;
    --font-heading-semibold-24: 600 24px/32px sans-serif;
    --font-heading-medium-64: 500 64px/72px sans-serif;
    --font-heading-medium-56: 500 56px/64px sans-serif;
    --font-heading-medium-48: 500 48px/56px sans-serif;
    --font-heading-medium-40: 500 40px/48px sans-serif;
    --font-heading-medium-32: 500 32px/40px sans-serif;
    --font-heading-medium-24: 500 24px/32px sans-serif;
    --font-body-bold-20: 700 20px/28px sans-serif;
    --font-body-bold-18: 700 18px/26px sans-serif;
    --font-body-bold-16: 700 16px/24px sans-serif;
    --font-body-bold-14: 700 14px/22px sans-serif;
    --font-body-bold-12: 700 12px/20px sans-serif;
    --font-body-semibold-20: 600 20px/28px sans-serif;
    --font-body-semibold-18: 600 18px/26px sans-serif;
    --font-body-semibold-16: 600 16px/24px sans-serif;
    --font-body-semibold-14: 600 14px/22px sans-serif;
    --font-body-semibold-12: 600 12px/20px sans-serif;
    --font-body-medium-20: 500 20px/28px sans-serif;
    --font-body-medium-18: 500 18px/26px sans-serif;
    --font-body-medium-16: 500 16px/24px sans-serif;
    --font-body-medium-14: 500 14px/22px sans-serif;
    --font-body-medium-12: 500 12px/20px sans-serif;
    --font-family-main: "Inter", sans-serif;
    --sidebar-width: 400px;
    --sidebar-width-collapsed: 170px;
    --z-index-dropdown: 1000;
    --z-index-sticky: 1020;
    --z-index-fixed: 1030;
    --z-index-modal-backdrop: 1040;
    --z-index-offcanvas: 1050;
    --z-index-modal: 1060;
    --z-index-popover: 1070;
    --z-index-tooltip: 1080;
}
