.Button {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    font-weight: 600;
    user-select: none;
    transition: 0.33s;
}

.primary {
    background: var(--color-primary);
    color: var(--color-grayscale-10);

    &:hover {
        background: var(--color-grayscale-10);
        color: var(--color-primary);
    }

    /*     &:active {
        background: var(--red-shades-55);
        box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    } */
}

.secondary {
    background-color: var(--black-shades-10);
    color: var(--absolute-colors-white);
    border-radius: 10px;
    border: 1px solid var(--black-shades-20);

    &:hover {
        background-color: var(--black-shades-12);
        border-color: var(--black-shades-25);
    }

    &:active {
        background-color: var(--black-shades-15);
        border-color: var(--black-shades-30);
    }
}

.clear {
    padding: 0;
    background-color: unset;
    color: var(--color-grayscale-10);
    transition: 0.3s;
    border: 0;

    &:hover {
        color: var(--color-primary);
    }

    &:active {
        color: var(--color-primary);
    }
}

.xs {
    padding: 4px 16px;
    font: var(--font-body-semibold-14);
    border-radius: 16px;
}

.s {
    padding: 8px 24px;
    font: var(--font-body-semibold-16);
    border-radius: 20px;
}

.m {
    padding: 12px 24px;
    font: var(--font-body-semibold-16);
    border-radius: 20px;
}

.l {
    padding: 16px 32px;
    font: var(--font-body-semibold-18);
    border-radius: 24px;
}

.compact {
    padding: 0;
}
