.Categories {
    padding-bottom: 200px;
}

.wrapper {
    h2 {
        font-size: 38px;
        line-height: 58px;
        font-weight: 700;
        color: var(--absolute-colors-white);
        padding-bottom: 14px;
    }

    p {
        font-size: 18px;
        color: var(--grey-shades-60);
    }
}