html.dark,
.storybook-app.dark {
    --absolute-colors-white: #fff;
    --absolute-colors-black: #000;
    --red-shades-45: #e50000;
    --red-shades-50: #f00;
    --red-shades-55: #ff1919;
    --red-shades-60: #f33;
    --red-shades-80: #f99;
    --red-shades-90: #fcc;
    --red-shades-95: #ffe5e5;
    --red-shades-99: #fffafa;
    --black-shades-06: #0f0f0f;
    --black-shades-08: #141414;
    --black-shades-10: #1a1a1a;
    --black-shades-12: #1f1f1f;
    --black-shades-15: #262626;
    --black-shades-20: #333;
    --black-shades-25: #404040;
    --black-shades-30: #4c4c4c;
    --grey-shades-60: #999;
    --grey-shades-65: #a6a6a6;
    --grey-shades-70: #b3b3b3;
    --grey-shades-75: #bfbfbf;
    --grey-shades-90: #e4e4e7;
    --grey-shades-95: #f1f1f3;
    --grey-shades-97: #f7f7f8;
    --grey-shades-99: #fcfcfd;
}
