html.light {
    --absolute-colors-white: #fff;
    --absolute-colors-black: #000;
    --red-shades-45: #e50000;
    --red-shades-50: #f00;
    --red-shades-55: #ff1919;
    --red-shades-60: #f33;
    --red-shades-80: #f99;
    --red-shades-90: #fcc;
    --red-shades-95: #ffe5e5;
    --red-shades-99: #fffafa;
    --black-shades-06: #f9f9f9;
    --black-shades-08: #f5f5f5;
    --black-shades-10: #f0f0f0;
    --black-shades-12: #ebebeb;
    --black-shades-15: #e6e6e6;
    --black-shades-20: #ccc;
    --black-shades-25: #b3b3b3;
    --black-shades-30: #999;
    --grey-shades-60: #666;
    --grey-shades-65: #595959;
    --grey-shades-70: #4d4d4d;
    --grey-shades-75: #404040;
    --grey-shades-90: #1a1a1a;
    --grey-shades-95: #0d0d0d;
    --grey-shades-97: #080808;
    --grey-shades-99: #030303;
}
