html.light,
.storybook-app.light {
    --color-primary: #f22;
    --color-secondary: #fff;
    --color-alert-success: #25dc37;
    --color-alert-error: #eb3f5e;
    --color-alert-warning: #ffcd1a;
    --color-additional-dark: #1a161f;
    --color-additional-line: #29282f;
    --color-additional-line-2: #e9ebed;
    --color-grayscale-10: #f9f9f9;
    --color-grayscale-20: #ecf1f6;
    --color-grayscale-30: #e3e9ed;
    --color-grayscale-40: #d1d8dd;
    --color-grayscale-50: #bfc6cc;
    --color-grayscale-60: #9ca4ab;
    --color-grayscale-70: #78828a;
    --color-grayscale-80: #66707a;
    --color-grayscale-90: #434e58;
    --color-grayscale-100: #171725;
}
