.Navbar {
    height: var(--navbar-height);
    padding: 30px 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
        font-size: 18px;
        font-weight: 500;
        line-height: 14px;
        color: var(--absolute-colors-white);
    }
}

.link {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 4px;
}

.logo {
    display: flex;
    width: 200x;
    height: 60px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navigation {
    display: flex;
    gap: 4px;
    align-items: center;
}

.profile {
    width: 34px;
    height: 34px;
}

.notice {
    margin-right: 30px;
}

.search {
    margin-right: 30px;
}